In [ ]:
import pandas as pd
import numpy as np

In [ ]:
xls = pd.ExcelFile('Cancer Data.xlsx')
df1 = pd.read_excel(xls, 'Sheet1')
df2 = pd.read_excel(xls, 'Sheet2')

In [ ]:
df1.columns = df1.iloc[1]
df1 = df1[2:]
df1.to_csv("Cancer Data.xlsx", index=False)

In [ ]:
data1 = pd.read_csv("Cancer Data CA1.xlsx")
data1

,Patient ID #,Sample ID #,Tumor type,AJCC Stage,AFP (pg/ml),Angiopoietin-2 (pg/ml),AXL (pg/ml),CA-125 (U/ml),CA 15-3 (U/ml),CA19-9 (U/ml),...,sFas (pg/ml),SHBG (nM),sHER2/sEGFR2/sErbB2 (pg/ml),sPECAM-1 (pg/ml),TGFa (pg/ml),Thrombospondin-2 (pg/ml),TIMP-1 (pg/ml),TIMP-2 (pg/ml),CancerSEEK Logistic Regression Score,CancerSEEK Test Result
0,INDI 457,INDI 457 PLS 1,Esophagus,II,5986.73,3693.14,4970.74,21.92,13.43,55.15,...,3434.12,68.1,5218.92,11787.82,**12018.864,13828.3,333714.66,38978.77,1.000000,Positive
1,INDI 462,INDI 462 PLS 1,Breast,III,1200.69,7249.36,3087.61,2759.3,172.48,471.5,...,4560.12,133.03,**150848.1,8640.21,*16.566,86362.95,321136.51,31439.68,1.000000,Positive
2,PAP 954,PAP 954 PLS 1,Ovary,III,*879.498,1204.94,2568.03,**3600.024,68.67,33.97,...,*207.24,10.16,5118.72,4419.63,*16.89,3893.12,258509.16,45520.29,1.000000,Positive
3,INDI 648,INDI 648 PLS 1,Colorectum,III,*841.524,2772.48,2535.98,23.64,4.56,207.39,...,*194.202,77.25,5653.75,7025.48,*16.698,17252.59,231237.93,33643.13,1.000000,Positive
4,PAP 939,PAP 939 PLS 1,Ovary,III,3078.34,5130.59,2235.80,269.12,53.37,20.94,...,*207.24,221.62,5543.03,5897.20,*16.89,3799.24,214347.67,52619.83,1.000000,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,PANCA 1055,PANCA 1055 PLS 1,Pancreas,II,*926.01,423.92,2020.28,*4.998,18.13,19.52,...,1577.28,100.16,5795.75,3789.44,*16.908,1000.76,55464.18,50736.62,0.062389,Negative
1813,LCR 634,LCR 634 PLS1,Normal,NaN,4144.23,882.39,3817.28,*4.884,15.41,23.37,...,*200.436,30.03,9810.72,9338.01,*16.692,4943.21,53869.12,48951.88,0.062389,Negative
1814,NL,NL PLSA 1646,Normal,NaN,1138.17,716.84,1824.21,*4.962,13.95,*16.602,...,708.2,39.3,6396.44,6211.92,*16.524,*839.4,45782.48,30777.76,0.062389,Negative
1815,NL,NL PLSA 1249,Normal,NaN,*790.476,1523.82,1549.07,*4.782,3.8,*15.816,...,653.95,13.2,2641.66,4151.27,*15.9,*2427.865,29699.57,27089.83,0.062389,Negative
1816,LCR 761,LCR 761 PLS1,Normal,NaN,1275.39,2853.31,1487.60,*4.752,2.44,*16.482,...,2016.85,17.01,5726.34,6834.60,*15.99,*793.9,16556.15,23623.62,0.062389,Negative

In [ ]:
df2.columns = df2.iloc[1]
df2 = df2[1:]
df2.to_csv("/content/Cancer Data CA1 Sheet2.xlsx", index=False)

In [ ]:
data2 = pd.read_csv("/content/Cancer Data CA1 Sheet2.xlsx")
data2

,Analyte,Units,Concentration threshold,LLOQ,ULOQ,Clinical upper limit of normal (ULN),Clinical ULN citation
0,Analyte,Units,Concentration threshold,LLOQ,ULOQ,Clinical upper limit of normal (ULN),Clinical ULN citation
1,AFP,pg/mL,21321,2469.12,200000,"10,000-20,000","Marrero et al. Gastroenterology, 2009; Lok et ..."
2,CA125,U/mL,577,44.46,3600,30-35,"Jacobs et al. BMJ, 1996; Partridge et al. Obst..."
3,CA15-3,U/mL,98,4.2,340.02,30-31.3,"Fejzić et al. Acta Med Acad, 2015; Geng et al...."
4,CA19-9,U/mL,92,16.44,4000.02,35,Geisinger Medical Lab reference range
5,CEA,pg/mL,7507,1407.42,114000,"4,700-5,200","Geng et al. Mol Clin Oncol, 2015; Geisinger Me..."
6,HGF,pg/mL,899,164.58,13333.32,-,Insufficient studies; no single upper limit of...
7,OPN,pg/mL,157772,9876.54,800000,-,Insufficient studies; no single upper limit of...
8,Prolactin,pg/mL,145345,2469.12,600000,23300,Geisinger Medical Lab reference range
9,TIMP-1,pg/mL,176989,15625,1000000,-,Insufficient studies; no single upper limit of...

In [ ]:
data1.head(10)

,Patient ID #,Sample ID #,Tumor type,AJCC Stage,AFP (pg/ml),Angiopoietin-2 (pg/ml),AXL (pg/ml),CA-125 (U/ml),CA 15-3 (U/ml),CA19-9 (U/ml),...,sFas (pg/ml),SHBG (nM),sHER2/sEGFR2/sErbB2 (pg/ml),sPECAM-1 (pg/ml),TGFa (pg/ml),Thrombospondin-2 (pg/ml),TIMP-1 (pg/ml),TIMP-2 (pg/ml),CancerSEEK Logistic Regression Score,CancerSEEK Test Result
0,INDI 457,INDI 457 PLS 1,Esophagus,II,5986.73,3693.14,4970.74,21.92,13.43,55.15,...,3434.12,68.1,5218.92,11787.82,**12018.864,13828.3,333714.66,38978.77,1.0,Positive
1,INDI 462,INDI 462 PLS 1,Breast,III,1200.69,7249.36,3087.61,2759.3,172.48,471.5,...,4560.12,133.03,**150848.1,8640.21,*16.566,86362.95,321136.51,31439.68,1.0,Positive
2,PAP 954,PAP 954 PLS 1,Ovary,III,*879.498,1204.94,2568.03,**3600.024,68.67,33.97,...,*207.24,10.16,5118.72,4419.63,*16.89,3893.12,258509.16,45520.29,1.0,Positive
3,INDI 648,INDI 648 PLS 1,Colorectum,III,*841.524,2772.48,2535.98,23.64,4.56,207.39,...,*194.202,77.25,5653.75,7025.48,*16.698,17252.59,231237.93,33643.13,1.0,Positive
4,PAP 939,PAP 939 PLS 1,Ovary,III,3078.34,5130.59,2235.80,269.12,53.37,20.94,...,*207.24,221.62,5543.03,5897.20,*16.89,3799.24,214347.67,52619.83,1.0,Positive
5,INDI 306,INDI 306 PLS 1,Colorectum,III,*807.054,5476.43,2390.57,26.49,6.8,*16.38,...,1403.96,64.13,3634.69,7658.51,*16.494,*626.3,185344.35,36124.24,1.0,Positive
6,PAPA 1349,PAPA 1349 PLS 1,Ovary,III,*879.498,2586.04,1297.25,2235.26,**836.85,87.17,...,*207.24,77.33,4360.89,7425.41,*16.89,5596.62,183636.9,50918.26,1.0,Positive
7,INDI 464,INDI 464 PLS 1,Liver,III,5135.34,773.34,2831.24,855.37,107.96,123.01,...,1723.64,44.97,6412.98,6592.29,43.5,16908.03,181080.43,33972.74,1.0,Positive
8,INDI 139,INDI 139 PLS 1,Stomach,III,*1008.708,1834.63,2226.63,26.87,16.9,*17.49,...,1179.9,50.9,6253.43,4323.12,107.45,*2173.56,179920.4,34439.28,1.0,Positive
9,INDI 663,INDI 663 PLS 1,Esophagus,II,*946.938,7594.14,3692.82,6.16,8.23,*16.29,...,1878.4,52.38,4356,7481.92,22.6,40798.25,176049.91,33804.28,1.0,Positive

In [ ]:
data1.columns

Index(['Patient ID #', 'Sample ID #', 'Tumor type', 'AJCC Stage',
       'AFP (pg/ml)', 'Angiopoietin-2 (pg/ml)', 'AXL (pg/ml)', 'CA-125 (U/ml)',
       'CA 15-3 (U/ml)', 'CA19-9 (U/ml)', 'CD44 (ng/ml)', 'CEA (pg/ml)',
       'CYFRA 21-1 (pg/ml)', 'DKK1 (ng/ml)', 'Endoglin (pg/ml)',
       'FGF2 (pg/ml)', 'Follistatin (pg/ml)', 'Galectin-3 (ng/ml)',
       'G-CSF (pg/ml)', 'GDF15 (ng/ml)', 'HE4 (pg/ml)', 'HGF (pg/ml)',
       'IL-6 (pg/ml)', 'IL-8 (pg/ml)', 'Kallikrein-6 (pg/ml)',
       'Leptin (pg/ml)', 'Mesothelin (ng/ml)', 'Midkine (pg/ml)',
       'Myeloperoxidase (ng/ml)', 'NSE (ng/ml)', 'OPG (ng/ml)', 'OPN (pg/ml)',
       'PAR (pg/ml)', 'Prolactin (pg/ml)', 'sEGFR (pg/ml)', 'sFas (pg/ml)',
       'SHBG (nM)', 'sHER2/sEGFR2/sErbB2 (pg/ml)', 'sPECAM-1 (pg/ml)',
       'TGFa (pg/ml)', 'Thrombospondin-2 (pg/ml)', 'TIMP-1 (pg/ml)',
       'TIMP-2 (pg/ml)', 'CancerSEEK Logistic Regression Score',
       'CancerSEEK Test Result'],
      dtype='object')

In [ ]:
data1.columns=['Patient ID #', 'Sample ID #', 'Tumor type', 'AJCC Stage',
       'AFP', 'Angiopoietin-2', 'AXL', 'CA125',
       'CA15-3', 'CA19-9', 'CD44', 'CEA',
       'CYFRA 21-1', 'DKK1', 'Endoglin',
       'FGF2', 'Follistatin', 'Galectin-3',
       'G-CS', 'GDF15', 'HE4', 'HGF',
       'IL-6', 'IL-8', 'Kallikrein-6',
       'Leptin', 'Mesothelin', 'Midkine ',
       'Myeloperoxidase', 'NSE', 'OPG', 'OPN',
       'PAR', 'Prolactin', 'sEGFR', 'sFas',
       'SHBG', 'sHER2/sEGFR2/sErbB2', 'sPECAM-1',
       'TGFa', 'Thrombospondin-2', 'TIMP-1',
       'TIMP-2','CancerSEEK Logistic Regression Score',
       'CancerSEEK Test Result', 'REGRESSION_SCORE']

In [ ]:
data1

,Patient ID #,Sample ID #,Tumor type,AJCC Stage,AFP,Angiopoietin-2,AXL,CA125,CA15-3,CA19-9,...,SHBG,sHER2/sEGFR2/sErbB2,sPECAM-1,TGFa,Thrombospondin-2,TIMP-1,TIMP-2,CancerSEEK Logistic Regression Score,CancerSEEK Test Result,REGRESSION_SCORE
0,INDI 457,INDI 457 PLS 1,Esophagus,II,5986.73,3693.14,4970.74,21.92,13.43,55.15,...,68.1,5218.92,11787.82,**12018.864,13828.3,333714.66,38978.77,1.000000,Positive,0.0
1,INDI 462,INDI 462 PLS 1,Breast,III,1200.69,7249.36,3087.61,2759.3,172.48,471.5,...,133.03,**150848.1,8640.21,*16.566,86362.95,321136.51,31439.68,1.000000,Positive,0.0
2,PAP 954,PAP 954 PLS 1,Ovary,III,*879.498,1204.94,2568.03,**3600.024,68.67,33.97,...,10.16,5118.72,4419.63,*16.89,3893.12,258509.16,45520.29,1.000000,Positive,0.0
3,INDI 648,INDI 648 PLS 1,Colorectum,III,*841.524,2772.48,2535.98,23.64,4.56,207.39,...,77.25,5653.75,7025.48,*16.698,17252.59,231237.93,33643.13,1.000000,Positive,0.0
4,PAP 939,PAP 939 PLS 1,Ovary,III,3078.34,5130.59,2235.80,269.12,53.37,20.94,...,221.62,5543.03,5897.20,*16.89,3799.24,214347.67,52619.83,1.000000,Positive,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,PANCA 1055,PANCA 1055 PLS 1,Pancreas,II,*926.01,423.92,2020.28,*4.998,18.13,19.52,...,100.16,5795.75,3789.44,*16.908,1000.76,55464.18,50736.62,0.062389,Negative,0.0
1813,LCR 634,LCR 634 PLS1,Normal,NaN,4144.23,882.39,3817.28,*4.884,15.41,23.37,...,30.03,9810.72,9338.01,*16.692,4943.21,53869.12,48951.88,0.062389,Negative,0.0
1814,NL,NL PLSA 1646,Normal,NaN,1138.17,716.84,1824.21,*4.962,13.95,*16.602,...,39.3,6396.44,6211.92,*16.524,*839.4,45782.48,30777.76,0.062389,Negative,0.0
1815,NL,NL PLSA 1249,Normal,NaN,*790.476,1523.82,1549.07,*4.782,3.8,*15.816,...,13.2,2641.66,4151.27,*15.9,*2427.865,29699.57,27089.83,0.062389,Negative,0.0
1816,LCR 761,LCR 761 PLS1,Normal,NaN,1275.39,2853.31,1487.60,*4.752,2.44,*16.482,...,17.01,5726.34,6834.60,*15.99,*793.9,16556.15,23623.62,0.062389,Negative,0.0

In [ ]:
dict_vals = {'AFP': 20000.0,
 'CA125': 35.0,
 'CA15-3': 31.3,
 'CA19-9': 35,
 'CEA': 5200.0,
 'Prolactin': 23300.0,
 }

In [ ]:
data1.shape

(1817, 46)

In [ ]:
data1.loc[:,'REGRESSION_SCORE'] = np.zeros(1817)

In [ ]:
data1.dtypes

Patient ID #                             object
Sample ID #                              object
Tumor type                               object
AJCC Stage                               object
AFP                                      object
Angiopoietin-2                           object
AXL                                     float64
CA125                                    object
CA15-3                                   object
CA19-9                                   object
CD44                                     object
CEA                                      object
CYFRA 21-1                               object
DKK1                                     object
Endoglin                                 object
FGF2                                     object
Follistatin                              object
Galectin-3                               object
G-CS                                     object
GDF15                                    object
HE4                                      object
HGF                                      object
IL-6                                     object
IL-8                                     object
Kallikrein-6                             object
Leptin                                   object
Mesothelin                               object
Midkine                                  object
Myeloperoxidase                          object
NSE                                      object
OPG                                      object
OPN                                      object
PAR                                      object
Prolactin                                object
sEGFR                                    object
sFas                                     object
SHBG                                     object
sHER2/sEGFR2/sErbB2                      object
sPECAM-1                                float64
TGFa                                     object
Thrombospondin-2                         object
TIMP-1                                   object
TIMP-2                                  float64
CancerSEEK Logistic Regression Score    float64
CancerSEEK Test Result                   object
REGRESSION_SCORE                        float64
dtype: object

In [ ]:
dict_vals.keys()

dict_keys(['AFP', 'CA125', 'CA15-3', 'CA19-9', 'CEA', 'Prolactin'])

In [ ]:
def removes(x):
  x=x.replace('*','')
  x=x.replace(' ','')
  return x

for i in dict_vals.keys():
  data1[i]=data1[i].apply(removes)

In [ ]:
data1

,Patient ID #,Sample ID #,Tumor type,AJCC Stage,AFP,Angiopoietin-2,AXL,CA125,CA15-3,CA19-9,...,SHBG,sHER2/sEGFR2/sErbB2,sPECAM-1,TGFa,Thrombospondin-2,TIMP-1,TIMP-2,CancerSEEK Logistic Regression Score,CancerSEEK Test Result,REGRESSION_SCORE
0,INDI 457,INDI 457 PLS 1,Esophagus,II,5986.73,3693.14,4970.74,21.92,13.43,55.15,...,68.1,5218.92,11787.82,**12018.864,13828.3,333714.66,38978.77,1.000000,Positive,0.0
1,INDI 462,INDI 462 PLS 1,Breast,III,1200.69,7249.36,3087.61,2759.3,172.48,471.5,...,133.03,**150848.1,8640.21,*16.566,86362.95,321136.51,31439.68,1.000000,Positive,0.0
2,PAP 954,PAP 954 PLS 1,Ovary,III,879.498,1204.94,2568.03,3600.024,68.67,33.97,...,10.16,5118.72,4419.63,*16.89,3893.12,258509.16,45520.29,1.000000,Positive,0.0
3,INDI 648,INDI 648 PLS 1,Colorectum,III,841.524,2772.48,2535.98,23.64,4.56,207.39,...,77.25,5653.75,7025.48,*16.698,17252.59,231237.93,33643.13,1.000000,Positive,0.0
4,PAP 939,PAP 939 PLS 1,Ovary,III,3078.34,5130.59,2235.80,269.12,53.37,20.94,...,221.62,5543.03,5897.20,*16.89,3799.24,214347.67,52619.83,1.000000,Positive,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,PANCA 1055,PANCA 1055 PLS 1,Pancreas,II,926.01,423.92,2020.28,4.998,18.13,19.52,...,100.16,5795.75,3789.44,*16.908,1000.76,55464.18,50736.62,0.062389,Negative,0.0
1813,LCR 634,LCR 634 PLS1,Normal,NaN,4144.23,882.39,3817.28,4.884,15.41,23.37,...,30.03,9810.72,9338.01,*16.692,4943.21,53869.12,48951.88,0.062389,Negative,0.0
1814,NL,NL PLSA 1646,Normal,NaN,1138.17,716.84,1824.21,4.962,13.95,16.602,...,39.3,6396.44,6211.92,*16.524,*839.4,45782.48,30777.76,0.062389,Negative,0.0
1815,NL,NL PLSA 1249,Normal,NaN,790.476,1523.82,1549.07,4.782,3.8,15.816,...,13.2,2641.66,4151.27,*15.9,*2427.865,29699.57,27089.83,0.062389,Negative,0.0
1816,LCR 761,LCR 761 PLS1,Normal,NaN,1275.39,2853.31,1487.60,4.752,2.44,16.482,...,17.01,5726.34,6834.60,*15.99,*793.9,16556.15,23623.62,0.062389,Negative,0.0

In [ ]:
data1.columns

Index(['Patient ID #', 'Sample ID #', 'Tumor type', 'AJCC Stage', 'AFP',
       'Angiopoietin-2', 'AXL', 'CA125', 'CA15-3', 'CA19-9', 'CD44', 'CEA',
       'CYFRA 21-1', 'DKK1', 'Endoglin', 'FGF2', 'Follistatin', 'Galectin-3',
       'G-CS', 'GDF15', 'HE4', 'HGF', 'IL-6', 'IL-8', 'Kallikrein-6', 'Leptin',
       'Mesothelin', 'Midkine ', 'Myeloperoxidase', 'NSE', 'OPG', 'OPN', 'PAR',
       'Prolactin', 'sEGFR', 'sFas', 'SHBG', 'sHER2/sEGFR2/sErbB2', 'sPECAM-1',
       'TGFa', 'Thrombospondin-2', 'TIMP-1', 'TIMP-2',
       'CancerSEEK Logistic Regression Score', 'CancerSEEK Test Result',
       'REGRESSION_SCORE'],
      dtype='object')

In [ ]:
dict_vals

{'AFP': 20000.0,
 'CA125': 35.0,
 'CA15-3': 31.3,
 'CA19-9': 35,
 'CEA': 5200.0,
 'Prolactin': 23300.0}

In [ ]:
def find_protein(x):
  max_count=0
  for i in dict_vals.keys():
    if float(x[i])>=dict_vals[i]:
      max_count+=1
  if max_count>=1:
    return 1
  else:
    return 0

In [ ]:
data1['REGRESSION_SCORE']=data1.apply(lambda row:find_protein(row),axis=1)

In [ ]:
from collections import Counter

a=Counter(list(data1['REGRESSION_SCORE']))
a

Counter({1: 792, 0: 1025})

In [ ]:
data1.head()

,Patient ID #,Sample ID #,Tumor type,AJCC Stage,AFP,Angiopoietin-2,AXL,CA125,CA15-3,CA19-9,...,SHBG,sHER2/sEGFR2/sErbB2,sPECAM-1,TGFa,Thrombospondin-2,TIMP-1,TIMP-2,CancerSEEK Logistic Regression Score,CancerSEEK Test Result,REGRESSION_SCORE
0,INDI 457,INDI 457 PLS 1,Esophagus,II,5986.73,3693.14,4970.74,21.92,13.43,55.15,...,68.1,5218.92,11787.82,**12018.864,13828.3,333714.66,38978.77,1.0,Positive,1
1,INDI 462,INDI 462 PLS 1,Breast,III,1200.69,7249.36,3087.61,2759.3,172.48,471.5,...,133.03,**150848.1,8640.21,*16.566,86362.95,321136.51,31439.68,1.0,Positive,1
2,PAP 954,PAP 954 PLS 1,Ovary,III,879.498,1204.94,2568.03,3600.024,68.67,33.97,...,10.16,5118.72,4419.63,*16.89,3893.12,258509.16,45520.29,1.0,Positive,1
3,INDI 648,INDI 648 PLS 1,Colorectum,III,841.524,2772.48,2535.98,23.64,4.56,207.39,...,77.25,5653.75,7025.48,*16.698,17252.59,231237.93,33643.13,1.0,Positive,1
4,PAP 939,PAP 939 PLS 1,Ovary,III,3078.34,5130.59,2235.80,269.12,53.37,20.94,...,221.62,5543.03,5897.20,*16.89,3799.24,214347.67,52619.83,1.0,Positive,1

In [ ]:
x=data1[['AFP', 'CA125', 'CA15-3', 'CA19-9', 'CEA', 'Prolactin']]
y=data1['REGRESSION_SCORE']

In [ ]:
x

          AFP     CA125  CA15-3  CA19-9       CEA  Prolactin
0     5986.73     21.92   13.43   55.15   3584.61      72053
1     1200.69    2759.3  172.48   471.5    209102    8130.95
2     879.498  3600.024   68.67   33.97    443.01   73535.09
3     841.524     23.64    4.56  207.39  27548.31   82256.17
4     3078.34    269.12   53.37   20.94   1793.92  147148.97
...       ...       ...     ...     ...       ...        ...
1812   926.01     4.998   18.13   19.52    519.13     4025.5
1813  4144.23     4.884   15.41   23.37    667.18   11221.07
1814  1138.17     4.962   13.95  16.602   433.128    6986.44
1815  790.476     4.782     3.8  15.816    452.02    2720.98
1816  1275.39     4.752    2.44  16.482      1490   11102.03

[1817 rows x 6 columns]

In [ ]:
x.dtypes

AFP          object
CA125        object
CA15-3       object
CA19-9       object
CEA          object
Prolactin    object
dtype: object

In [ ]:
def convert_type(x):
  x=float(x)
  return x

for i in x.columns:
  x[i]=x[i].apply(convert_type)

<ipython-input-211-781ce0ed547d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i]=x[i].apply(convert_type)

In [ ]:
x.dtypes

AFP          float64
CA125        float64
CA15-3       float64
CA19-9       float64
CEA          float64
Prolactin    float64
dtype: object

In [ ]:
x

           AFP     CA125  CA15-3   CA19-9         CEA  Prolactin
0     5986.730    21.920   13.43   55.150    3584.610   72053.00
1     1200.690  2759.300  172.48  471.500  209102.000    8130.95
2      879.498  3600.024   68.67   33.970     443.010   73535.09
3      841.524    23.640    4.56  207.390   27548.310   82256.17
4     3078.340   269.120   53.37   20.940    1793.920  147148.97
...        ...       ...     ...      ...         ...        ...
1812   926.010     4.998   18.13   19.520     519.130    4025.50
1813  4144.230     4.884   15.41   23.370     667.180   11221.07
1814  1138.170     4.962   13.95   16.602     433.128    6986.44
1815   790.476     4.782    3.80   15.816     452.020    2720.98
1816  1275.390     4.752    2.44   16.482    1490.000   11102.03

[1817 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import confusion_matrix, accuracy_score 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=15)

logistic_model = LogisticRegression()
logistic_model.fit(x_train, y_train)
y_pred = logistic_model.predict(x_test)

accuracy = accuracy_score(y_test,y_pred)*100

confusion_mat = confusion_matrix(y_test,y_pred)

print("Accuracy is",accuracy)
print("Confusion Matrix")
print(confusion_mat)

Accuracy is 50.27472527472527
Confusion Matrix
[[ 49 181]
 [  0 134]]

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
y_predict_prob = logistic_model.predict_proba(x_test)

In [ ]:
y_predict_prob_class_1 = y_predict_prob[:,1]

In [ ]:
y_predict_prob_class_1

array([0.95445415, 0.53689288, 0.49873562, 0.50982698, 0.68407424,
       0.49061647, 0.50881222, 0.5368136 , 0.62095021, 0.50860074,
       0.56922661, 0.98805686, 0.64084646, 0.65936993, 0.52166276,
       0.55183397, 0.59634794, 0.57883462, 0.50115856, 0.47389165,
       0.59610511, 0.67158094, 0.79632851, 0.53969715, 0.88429158,
       0.51793419, 0.69732219, 0.49082315, 0.78634008, 0.91924035,
       0.64263071, 0.50652124, 0.49808663, 0.52121146, 0.48819848,
       0.69044251, 0.66585755, 0.5700365 , 0.48794151, 0.54829142,
       0.5165075 , 0.51340503, 0.5930531 , 0.99821677, 0.56493647,
       0.77704406, 0.67925115, 0.63327767, 0.50533284, 0.89942304,
       0.54890964, 0.49442029, 0.65415249, 0.63729909, 0.71730122,
       0.47859577, 0.60641216, 0.54409306, 0.51733552, 0.66589118,
       0.99863448, 0.7610104 , 0.53654024, 0.69084745, 0.5869027 ,
       0.99999742, 0.81111999, 0.66957094, 0.54057027, 0.53470352,
       0.51176767, 0.50399152, 0.60550693, 0.59863254, 0.56117504,
       0.53142482, 0.81000107, 0.93709299, 0.50493722, 0.5131423 ,
       0.52412168, 0.51977138, 0.59033638, 1.        , 0.51195034,
       0.53786147, 0.48763662, 0.48591697, 0.50271123, 0.49318967,
       0.58093099, 0.52134644, 0.6669186 , 0.99993503, 0.57317427,
       0.51366012, 0.54303419, 0.98005951, 0.87150805, 0.4770572 ,
       0.56574658, 0.52676133, 0.9543852 , 0.50762288, 0.62178095,
       0.56146042, 0.67123882, 0.89928841, 0.58084773, 0.88941414,
       0.85793521, 0.50559931, 0.51000253, 0.53756953, 0.65005251,
       0.52713936, 0.69502184, 0.51643272, 0.51241728, 0.59404143,
       0.52550024, 0.4877268 , 0.55521908, 0.5744015 , 0.51549466,
       0.66374461, 0.99995945, 0.61248892, 0.49640459, 0.88838928,
       0.50208165, 0.50888165, 0.49857871, 0.51428477, 0.5077027 ,
       0.48088756, 0.62007954, 0.47887866, 0.58263085, 0.53087327,
       0.65776348, 0.71216756, 0.54108977, 0.61257307, 0.50415103,
       0.59145393, 0.56263227, 0.72505225, 0.98772774, 0.48144682,
       0.55250704, 0.55391798, 0.88740681, 0.9871514 , 0.63006766,
       0.54033212, 0.50241264, 0.85907592, 0.6371059 , 0.63527134,
       0.69521317, 0.66057453, 0.50496325, 0.58694183, 0.56442397,
       0.52243389, 1.        , 0.65681456, 0.50795029, 0.7661771 ,
       0.58452546, 0.52283007, 0.75488787, 0.80436896, 0.56800705,
       0.54065684, 0.50571016, 0.49858586, 0.51022066, 0.52644757,
       0.50631328, 0.99999955, 0.48179995, 0.47966236, 0.50946511,
       0.96456302, 0.59242948, 0.55781039, 0.64652477, 0.56993137,
       0.53223795, 0.69365547, 0.50758288, 0.52726938, 0.79311347,
       0.46375645, 0.79387395, 0.50271892, 0.51929444, 0.65254342,
       0.77417716, 1.        , 0.49242112, 0.5089564 , 0.51906435,
       0.54142332, 0.51470385, 0.98797315, 0.66146361, 0.73949542,
       0.72097432, 0.85315765, 0.54101208, 0.49382948, 0.93742587,
       0.56397966, 0.5141733 , 0.99998593, 0.61155823, 0.51253055,
       0.51329007, 0.50296766, 0.47651199, 0.81946858, 0.92925795,
       0.49862017, 0.54223217, 0.51917371, 0.99996797, 0.95033754,
       0.54484427, 0.52372423, 0.9474013 , 0.65710565, 0.87121956,
       0.55164945, 0.55190894, 0.48821355, 0.48562283, 0.50065561,
       0.66990105, 0.52568695, 0.52622397, 0.45405302, 0.47252606,
       0.73215244, 0.46871623, 0.46893933, 0.57906234, 0.60349892,
       0.56945863, 0.57663233, 0.5368918 , 0.69369521, 0.49862903,
       0.90554704, 0.80243643, 0.96867974, 0.52315254, 0.52892285,
       0.69029011, 0.54684315, 0.68190851, 0.50501696, 0.59777278,
       0.48553179, 0.51962329, 0.6322947 , 0.53287046, 0.58862468,
       0.54477018, 0.5024587 , 0.52028883, 0.53171927, 0.53558089,
       0.54766508, 1.        , 1.        , 0.55201945, 0.86553202,
       0.4843859 , 0.54356717, 0.90158337, 0.82051669, 0.59421952,
       0.80726453, 0.53832246, 0.72072101, 0.99990938, 0.63091538,
       0.52913469, 0.54634015, 0.94743086, 0.52231805, 0.99665501,
       0.4970068 , 0.57587602, 0.54555969, 0.51503588, 0.53667814,
       0.74163962, 0.53642571, 0.95645257, 0.55765491, 0.93355331,
       0.52282885, 0.65818482, 0.52053642, 0.48587292, 0.61736518,
       0.58846206, 0.64223846, 0.54308128, 0.54673329, 0.53227747,
       0.58382398, 0.53093309, 1.        , 0.70768125, 0.92189623,
       0.49699259, 0.50867843, 0.47834008, 0.53053864, 0.58100249,
       0.49435483, 0.52780956, 0.8502212 , 0.65695147, 0.99212066,
       0.62260391, 0.62118465, 0.58067416, 0.56950496, 0.9664801 ,
       0.4948013 , 0.56294889, 0.50764747, 0.76247988, 0.8518829 ,
       0.59453745, 0.51480721, 0.69229907, 0.48643968, 0.78737644,
       0.47128401, 0.4987265 , 0.53994763, 0.50749958, 0.62945998,
       0.53259886, 0.50801686, 0.49942529, 0.50452232, 0.57501221,
       0.47893548, 0.49825906, 0.5608063 , 0.52167206, 0.52681018,
       0.49213685, 0.59300226, 0.97814836, 0.50695666])

In [ ]:
y_predict_class = [1 if prob > 0.892 else 0 for prob in y_predict_prob_class_1]

In [ ]:
print("Accuracy:", round(accuracy_score(y_test, y_predict_class), 3))

Accuracy: 0.742